.profileStats {
    display: flex;
    flex-direction: column;
    color: white !important;
    min-width: fit-content;
    min-height: fit-content;
}

.profileStats div[class*="title"] {
    display: flex;
    align-items: center;
    min-height: fit-content;
    justify-content: center;
    font-family: var(--font-luckiestGuy);
    margin-block:1em 0.5em;
    font-size: clamp(0.7em, 0.7em + 1vw, 2em);
}

.profileStats div[class*="wins"],
div[class*="matches"],
div[class*="loses"] {
    justify-content: space-between;
    align-items: center;
    font-size: clamp(0.5em, 0.4em + 1vw, 2em);

    :nth-child(1) {
        color: white;
        min-width: 50%;
    }

    :nth-child(2) {
        padding: 2px !important;
        margin: 0px !important;
        min-width: calc(20px + 1vw);
        height: 30%;
    }

    :nth-child(3) {
        color: white;
        margin-left: auto;
    }
}

.profileStats div[class*="loses"]{
    margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
    .profileStats div[class*="title"] {
        margin-block:0px;
        font-size: clamp(0.8em, 0.8em + 2vw, 3em);
    }
    .profileStats div[class*="wins"],
    div[class*="matches"],
    div[class*="loses"] {
        font-size: clamp(0.3em, 0.5em + 1.3vw, 2em);
    }
}