.profileWaletStats {
  display: flex;
  flex-direction: row;

  div[class*="user-image-name-level"] {
    padding-block: 0.4em;
    background: rgba(82, 36, 125, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding-left: 1em;
    flex-grow: 1;

    div[class~="user-image"] {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 1em;
      img {
        width: 2.5em;
        min-width: 2.5em;
        max-width: 2.5em;
      }
    }

    div[class~="user-name-level"] {
      display: flex;
      flex-direction: column;
      min-height: fit-content;

      div[class*="user-name"] {
        color: white;
        font-size: clamp(0.3em, 0.3em + 1vw, 1em);
        font-family: "Hiragino Maru Gothic ProN";
        font-weight: 300 !important;
        line-height: 1em;
      }

      div[class*="user-level"] {
        color: rgba(227, 120, 120, 1);
        font-size: clamp(0.2em, 0.3em + 1vw, 0.8em);
        line-height: 1em;
        font-weight: 200;
      }
    }
  }

  div[class*="walet-cents-coins"] {
    display: flex;
    flex-grow: 1;
    position: relative;
    font-size: clamp(0.3em, 0.3em + 1vw, 1em);
    padding: 0px;

    img {
      position: absolute;
      z-index: 0;
      right: 0px;
      height: 100%;
    }

    div[class*="walet-cents"] {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(255, 253, 84, 1);
      flex-grow: 1;
      z-index: 1;
      background: rgba(61, 9, 110, 1);
      margin-right: 0px !important;
    }

    div[class*="walet-coins"] {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(226, 120, 120, 1);
      margin-left: 0px !important;
      flex-grow: 1;
      z-index: 1;
      margin-right: 2em;
      background: rgba(61, 9, 110, 1);
    }
  }
}
