.signUp{
    input, :focus
    {
        color: #FFFFFF;
        background: #FFFFFF7A;
    };
    ::placeholder{
        color:white;
        
    }
    button{
        background: linear-gradient(90deg, #E3A5C7 0%, #694F8E 100%);
        color: #FFFFFF;
        border: 0px;
        font-family: "LuckiestGuy";
        font-weight: normal;
        font-size: 1.3rem;
    }
}

.signUp  input {
    background: #FFFFFF7A;
    color: #FFFFFF;
}

.signUpBare {
    background: linear-gradient(180deg, #03062E -50%, #5F0A94 50.71%);
    height: 14em;
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
}

.signUpBare>p {
    font-family: "LuckiestGuy";
    font-weight: normal;
    font-size: 1.3rem;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.signUpStick {
    background: linear-gradient(180deg, #C56D34 0%, #EAB091 100%);
    width: 3em;
    height: 30em;
}

.signUpAnimation {
    position: relative;
    animation: ease-out;
    animation-name: signUpAnimationFrames;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes signUpAnimationFrames {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }

    50% {
        opacity: 0.3;
        transform: translateX(100%);
    }

    100% {
        opacity: 0.1;
        transform: translateX(120%);
    }
}

.signUpRenderAnimation {
    position: relative;
    animation: ease-in;
    animation-name: signUpRenderAnimationFrames;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
}


@keyframes signUpRenderAnimationFrames {

    from {
        opacity: 0.3;
        transform: translateX(150%);
    }

    to {
        opacity: 1.0;
        transform: translateX(0%)
    }
}