.dashboardLayout{
    display: flex;
    flex-direction: row;
    gap: 0;
    background: linear-gradient(180deg, #03062E 0%, #5F0A94 156.71%);
    height: 100%;
}
.dashboardLayout  div[class*="dashboard-outlets"]{
    position:relative;
    width: 100%;
    overflow-y: auto;
    padding: 0px;

}
