.settingPassword {
    color: yellow;
}

.settingPassword {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: white;
    /* background-color: aqua; */
}

.settingPassword form {
    display: flex;
    flex-direction: column;
    min-width: 60%;
    margin-top: 2em;
    row-gap: clamp(1.5em, 1em + 2vw, 8em);

    /*here is the parent of the input field  and its label */
    >div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 1em;
        column-gap: 1em;
        width: 100%;
    }
    span[class*="error-message"] {
        margin-top: -5px;
        color: red;
        font-size: 0.8em;
        line-height: 1em;
        font-size: clamp(0.8em, 0.1em + 1vw, 1em);
    }
}

.settingPassword div[class*="current-password-container"] {

    >div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 0.8em;
    }

    input {
        width: 100%;
        padding-right: 2em;
    }

    span[class*="current-password-span"] {
        display: flex;
        align-items: center;
        position: relative;
    }

    *[class*="password-eye"] {
        position: relative;
        right: 1.5em;
        cursor: pointer;
    }
}

.settingPassword div[class*="new-password-container"] {

    >div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 0.8em;
    }

    input {
        width: 100%;
        padding-right: 2em;
    }

    span[class*="new-password-span"] {
        display: flex;
        align-items: center;
        position: relative;
    }

    *[class*="new-password-eye"] {
        position: relative;
        right: 1.5em;
        cursor: pointer;
    }

    div[class*="passwordHelper"] {
        margin-top: -5px;
        color: rgba(255, 255, 255, 0.50);
        font-size: 0.8em;
        line-height: 1em;
        font-size: clamp(0.8em, 0.1em + 1vw, 1em);
    }
}

.settingPassword div[class*="repeat-password-container"] {

    >div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 0.8em;
    }

    input {
        width: 100%;
        padding-right: 2em;
    }

    span[class*="repeat-password-span"] {
        display: flex;
        align-items: center;
        position: relative;
    }

    *[class*="password-eye"] {
        position: relative;
        right: 1.5em;
        cursor: pointer;
    }
}

.settingPassword {
    input {
        border: 0px;
        border-radius: 9px;
        padding: 0.3em 1em;
        background-color: rgba(84, 54, 57, 0.48);
        color: rgba(255, 255, 255, 0.82);
        max-width: 25em;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.27);
    }

    :focus-visible {
        outline: 2px solid #391E44;
    }


    >label {
        width: fit-content;
    }
}

.settingPassword div[class*="enable2F-container"] {
    display: flex;
    flex-direction: column;
}